@{
    ViewData["Title"] = "About Page";
}
<h1>@ViewData["Title"]</h1>

<tbody class="table">
    <p>Use this page to talk about this small Movie List.</p>
    <p>Where you make a list of movies. <br />
    To add a new movie click the Movie App and it will take you to the main window of the screen.<br />
    whee you can add a new movie and add, edit, and delete movies already on the list.</p>
    
</tbody>